@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import "tailwindcss";

@theme {
    --font-primary : "DM Sans", "Open Sans", sans-serif;

    --color-primary: #1a1a1a;
    --color-background: #f2f2f0;
    /* --color-background: #f8f9f6; */
}

@layer base {
    img {
        @apply object-cover
    }
}

@utility container {
    @apply mx-auto px-6  py-16
}